
<div class="container">
    <div class="tp-product-banner-slider fix">
        <div class="tp-product-banner-slider-active swiper-container">
            <div class="swiper-wrapper">
                {% for item in section.blocks %}
                    {% assign product = item.settings.product %}
                    {% assign button = item.settings %}
                    <div class="tp-product-banner-inner theme-bg p-relative z-index-1 fix swiper-slide">
                        <h4 class="tp-product-banner-bg-text">tablet</h4>
                        <div class="row align-items-center">
                            <div class="col-xl-6 col-lg-6">
                                <div class="tp-product-banner-content p-relative z-index-1">
                                <span class="tp-product-banner-subtitle">{{ product.tags }}</span>
                                <h3 class="tp-product-banner-title">{{ product.title }}</h3>
                                <div class="tp-product-banner-price mb-40">
                                    <span class="old-price">{{ product.compare_at_price_max | money }}</span>
                                    <p class="new-price">{{ product.price | money }}</p>
                                </div>
                                <div class="tp-product-banner-btn">
                                    <a href="{{ button.btn_url }}" class="tp-btn tp-btn-2">{{ button.button_title }}</a>
                                </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="tp-product-banner-thumb-wrapper p-relative">
                                <div class="tp-product-banner-thumb-shape">
                                    <span class="tp-product-banner-thumb-gradient"></span>
                                    <img class="tp-offer-shape" src="assets/img/banner/banner-slider-offer.png" alt="">
                                </div>
        
                                <div class="tp-product-banner-thumb text-end p-relative z-index-1">
                                    <img src="{{ product.featured_image | img_url: '500x' }}" alt="">
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="tp-product-banner-slider-dot tp-swiper-dot"></div>
        </div>
    </div>
</div>




 {% schema %}
    {
       "name": "Shofy Product Banner",
       "class": "tp-product-banner-area pb-90",
       "tag": "section",
       "settings": [

       ],
       "blocks": [
          {
             "name": "Product Banner",
             "type": "product-banner",
             "limit": 3,
             "settings": [
                {
                    "type": "text",
                    "id": "button_title",
                    "label": "Button Title",
                    "default": "Shop Noww"
                },
                {
                    "type": "url",
                    "id": "btn_url",
                    "label": "Url"
                },
                {
                    "type": "product",
                    "id": "product",
                    "label": "Product"
                }
             ]
          }
       ],
       "presets": [
          {
             "name": "Shofy Product Banner",
             "blocks": [

             ]
          }
       ]
    }
 {% endschema %}